<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hemodialysishealtheducation">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme= "@style/AppTheme.NoActionBar"
        >
        <activity android:name=".Vedio"></activity>
        <activity android:name=".Grade" />
        <activity android:name=".signature" />
        <activity android:name=".consent" />
        <activity android:name=".Newdata" />
        <activity android:name=".backtest" />
        <activity android:name=".HealthInformation" />
        <activity android:name=".fronttest" />
        <activity android:name=".choose_education" />
        <activity android:name=".Nurse_modify" />
        <activity android:name=".Nurse_Newdata" />
        <activity android:name=".Menu" />
        <activity android:name=".Searchlogin"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>